@charset "UTF-8";
/* COLORS:
Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485 */
*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  /* font para alterar tudo de uma vez. esse valor * 16px q é o tamanho padrao da font = 10px q é o a gente quer*/ }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  /* desenconsta de cima */
  color: #777;
  padding: 3rem; }

.header {
  height: 95vh;
  /* diz que a cada ponta deve ter 95% de altura */
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero.jpg);
  background-size: cover;
  /* independe do tamanho do elemento, sempre vai tentar manter dentro da caixa q tá */
  background-position: top;
  /* garante q sempre esteja junto do topo */
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  /* desenha formas */
  position: relative; }

.header__logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem; }

.header__logo {
  height: 3.5rem; }

/* .logo:hover{

} */
.header__text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  /* evita q a parte de trás do elemento seja escondida p não dar erro */
  margin-bottom: 6rem; }

.heading-primary--main {
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3.5rem;
  animation-name: moveInLeft;
  animation-duration: 1s;
  /* anim */
  /* animation-iteration-count: 3; qntas vezes qr q aconteça */
  /* animation-delay: 3s; */ }

.heading-primary--sub {
  display: block;
  font-size: 1.74rem;
  font-weight: 400;
  letter-spacing: 1.93rem;
  animation: moveInRight 1s ease-out; }

@keyframes moveInLeft {
  /* em cada momento da animação */
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  /* em cada momento da animação */
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  /* em cada momento da animação */
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

.btn:link,
.btn:visited {
  /*  */
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  /* separar do bloco cima */
  border-radius: 10rem;
  transition: all .3s;
  position: relative;
  font-size: 1.6rem; }

.btn:hover {
  /* qnd passa o mouse */
  transform: translateY(-0.4rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  /* quao distante vc quer(diagonal), quao longe o borrao(horizontal down), quao forte o borrao */ }

.btn:active {
  /* qnd clica */
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  /* quao distante vc quer(diagonal), quao longe o borrao(horizontal down), quao forte o borrao */ }

.btn--white {
  background-color: #fff;
  color: #777; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  /* coloca p trás do botao   */
  transition: all .2s; }

.btn--white::after {
  background-color: #fff; }

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  /* aumenta o tamanho */
  opacity: 0; }

.btn--animated {
  animation: moveInBottom .5s ease-out .75s;
  /* nome, tempo, função de tempo da animação, tempo do delay   */
  animation-fill-mode: backwards;
  /* aplica tudo em 0% antes do inicio da animação  */ }
